<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../public/assets/img/LOGO.png">

  <title>農業智慧產銷系統</title>


  <link href="../public/dist/css/bootstrap.min.css" rel="stylesheet">


  <link href="../public/carousel.css" rel="stylesheet">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://localhost:3000">AIoT01</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/revenue">Revenue</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    </div>
    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
          <img class="rounded-circle" src="../public/assets/img/main.png" alt="Generic placeholder image" width="140"
            height="140">
          <p>農業智慧產銷系統</p>
          <p><a class="btn btn-secondary" href="https://github.com/epicwoo/nodejsServer" role="button">詳細資訊</a></p>
        </div>
        <div class="col-lg-4">

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">“環境監控，提高栽種品質”</h2><br>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <a href="index.html">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/img/環境監控.png"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">“品質檢測，檢視收成結果”</h2><br>
          <p class="lead"></p>
        </div>
        <div class="col-md-5 order-md-1">
          <a href="index.html">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/img/品質檢測.png"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">“蒐集最新資料預測銷售額”</h2><br>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <a href="https://speakerdeck.com/jaebyjae/revenue-forecasting-agriculture-prod-jae-chuang">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/img/銷售預測.png"></a>
        </div>
      </div>

      <hr class="featurette-divider">

    </div>
    <footer class="container">
      <p class="float-left">@JaeChuang</p>
      <p class="float-right"><a href="#">Back to top</a></p>
    </footer>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../public/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="../public/assets/js/vendor/popper.min.js"></script>
  <script src="../public/dist/js/bootstrap.min.js"></script>
  <script src="../public/assets/js/vendor/holder.min.js"></script>
</body>

</html>